In [30]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
%sql mysql+pymysql://root:mariam%2Clawal-1234@localhost:3306/financial_inclusion.db

In [32]:
%sql SHOW TABLES;

   mysql+pymysql://root:***@localhost:3306/financial_inclusion
 * mysql+pymysql://root:***@localhost:3306/financial_inclusion.db
3 rows affected.

[('interest_rate',), ('mobile_money',), ('money_supply',)]

## Query deposit growth by year

In [33]:
%%sql
SELECT 
    Year,
    ROUND(AVG(`Financial Account(%)`)*100, 2) AS Avg_Deposit_ownership_percentage
FROM 
    mobile_money
GROUP BY 
    Year
ORDER BY 
    Year ASC;

   mysql+pymysql://root:***@localhost:3306/financial_inclusion
 * mysql+pymysql://root:***@localhost:3306/financial_inclusion.db
3 rows affected.

[('2017', 41.27), ('2021', 36.93), ('2024', 36.03)]

## Query inclusion rate by region

In [34]:
%%sql
SELECT 
    Region,
    SUM(
        `Age (6-11)` + `Age(12-15)` + `Age(15-19)` + `Age(20-24)` + `Age(25-29)` +
        `Age(30-34)` + `Age(35-39)` + `Age(40-44)` + `Age(45-49)` + `Age(50-54)` +
        `Age(55-59)` + `Age(60-64)` + `Age(65-69)` + `Age(70-74)` + `Age(75-79)` +
        `Age(80-84)` + `Age(85-89)`
    ) AS Total_Mobile_Users,
    ROUND(
        AVG(
            `Age (6-11)` + `Age(12-15)` + `Age(15-19)` + `Age(20-24)` + `Age(25-29)` +
            `Age(30-34)` + `Age(35-39)` + `Age(40-44)` + `Age(45-49)` + `Age(50-54)` +
            `Age(55-59)` + `Age(60-64)` + `Age(65-69)` + `Age(70-74)` + `Age(75-79)` +
            `Age(80-84)` + `Age(85-89)`
        ), 2
    ) AS Avg_Mobile_Usage
FROM 
    interest_rate
GROUP BY 
    Region
ORDER BY 
    Total_Mobile_Users DESC;

   mysql+pymysql://root:***@localhost:3306/financial_inclusion
 * mysql+pymysql://root:***@localhost:3306/financial_inclusion.db
16 rows affected.

[('Greater Accra', Decimal('7765832'), Decimal('97072.90')),
 ('Ashanti', Decimal('7110013'), Decimal('88875.16')),
 ('Eastern', Decimal('3765133'), Decimal('47064.16')),
 ('Central', Decimal('3700082'), Decimal('46251.03')),
 ('Western', Decimal('2597475'), Decimal('32468.44')),
 ('Northern', Decimal('2446416'), Decimal('30580.20')),
 ('Volta', Decimal('2089172'), Decimal('26114.65')),
 ('Bono', Decimal('1541494'), Decimal('19268.68')),
 ('Upper East', Decimal('1524391'), Decimal('19054.89')),
 ('Bono East', Decimal('1410407'), Decimal('17630.09')),
 ('Western North', Decimal('1062223'), Decimal('13277.79')),
 ('Upper West', Decimal('1007988'), Decimal('12599.85')),
 ('Oti', Decimal('832266'), Decimal('10403.33')),
 ('Ahafo', Decimal('705579'), Decimal('8819.74')),
 ('North East', Decimal('676520'), Decimal('8456.50')),
 ('Savannah', Decimal('661328'), Decimal('8266.60'))]

## Query correlation between rate and deposit

In [35]:
%%sql
WITH deposits AS (
  SELECT 
    Year,
    SUM(
      IF(
        Variables IN ('Demand Deposits', 'Savings and Time Deposits', 'Foreign Currency Deposits'),
        COALESCE(January,0) + COALESCE(February,0) + COALESCE(March,0) + COALESCE(April,0) +
        COALESCE(May,0) + COALESCE(June,0) + COALESCE(July,0) + COALESCE(August,0) +
        COALESCE(September,0) + COALESCE(October,0) + COALESCE(November,0) + COALESCE(December,0),
        0
      )
    ) AS Total_Deposits
  FROM money_supply
  GROUP BY Year
),
rates AS (
  SELECT 
    Year,
    (COALESCE(January,0) + COALESCE(February,0) + COALESCE(March,0) + COALESCE(April,0) +
     COALESCE(May,0) + COALESCE(June,0) + COALESCE(July,0) + COALESCE(August,0) +
     COALESCE(September,0) + COALESCE(October,0) + COALESCE(November,0) + COALESCE(December,0)
    ) AS Broad_Money
  FROM money_supply
  WHERE Variables = 'Broad Money (M2)'
)
SELECT 
  (AVG(d.Total_Deposits * r.Broad_Money) - AVG(d.Total_Deposits) * AVG(r.Broad_Money))
  /
  (STDDEV_POP(d.Total_Deposits) * STDDEV_POP(r.Broad_Money)) AS correlation
FROM 
  deposits d
JOIN 
  rates r ON d.Year = r.Year;

   mysql+pymysql://root:***@localhost:3306/financial_inclusion
 * mysql+pymysql://root:***@localhost:3306/financial_inclusion.db
1 rows affected.

[(0.34829988333789474,)]